<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Guest List</title>
</head>
<body>
<h1>Welcome to the Guest List Page</h1>
<table>
    <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email</td>
        <td>Phone Number</td>
    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.email}">Email</td>
        <td th:text="${guest.phoneNumber}">Phone Number</td>
    </tr>
</table>

</body>
</html>